@font-face {
    font-family: 'Siemens Sans';
    src: url('SiemensSans-Roman.woff2') format('woff2'),
        url('SiemensSans-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

